*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

table{
    width: 800px;
    text-align: center;
    margin: 100px auto;
    background: rgb(212, 222, 247);
}

thead{
background-color: rgb(101, 121, 139);
}

tr{
    height: 40px;
    background-color: #b0bdff;
}
