* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0, 0, 0, 100px;
}

/* header section start */
header {
  background-color: #008f76;
}

header nav {
  height: 80px;
  padding-left: 106px;
  align-items: center;
}

.wrapper {
  padding-top: 20px;
  display: flex;
  list-style: circle;
}

.container img {
  width: 49px;
  height: 42px;
}

header nav ul {
  padding-left: 325px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul li {
  padding-right: 101px;
  color: #000;
}

header nav ul li a {
  color: #fff;
}

header nav ul button {
  display: inline-flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #fff;
  background-color: #008f76;
  color: #fff;
  box-shadow: 0px 12.52155px 10.01724px 0px rgba(0, 0, 0, 0.01),
    0px 100px 80px 0px rgba(0, 0, 0, 0.03);
}

/* header section end */

main {
  display: flex;
  width: 1440px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: center;
  gap: 98px;
  background: linear-gradient(180deg, #fff 0%, #f6f5ff 100%);
}

#text {
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  line-height: 150%;
  padding-top: 100px;
}

span {
  color: #008f76;
}

main section div p {
  font-size: 16px;
}

.button {
  padding-top: 50px;
  margin-bottom: 250px;
}

.btn {
  display: inline-flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  border: 2px solid #008f76;
  font-size: 15px;
  width: auto 209px;
  height: auto 52px;
  border-radius: 15px;
  background: #008f76;
  box-shadow: 0px 12.52155px 10.01724px 0px rgba(0, 0, 0, 0.01),
    0px 100px 80px 0px rgba(0, 0, 0, 0.03);
  margin-right: 48px;
}

.sbmt {
  display: inline-flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: auto 251px;
  height: auto 52;
  font-size: 15px;
  color: #008f76;
  border-radius: 15px;
  border: 2px solid #0b6455;
  box-shadow: 0px 12.52155px 10.01724px 0px rgba(0, 0, 0, 0.01),
    0px 100px 80px 0px rgba(0, 0, 0, 0.03);
}

.bold-txt {
  font-weight: bold;
  color: black !important;
}

#person h3 {
  margin-bottom: 70px;
  text-align: center;
}

.person-text {
  color: grey;
  margin-bottom: 20px;
}

#people h3 {
  margin-bottom: 16px;
}

.about-people {
  border: 2px solid rgb(205, 201, 201);
  border-radius: 15px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  font-size: 15px;
  width: 596px;
  height: 200px;
}

.img {
  align-items: flex-start;
  display: flex;
  gap: 30px;
}

.text-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

#text .text-wrapper {
  display: flex;
  gap: 25px;
}

#people .wrapper {
  display: flex;
  gap: 25px;
}

.text-title p {
  color: #9e9e9e;
}

#square .container {
  display: flex;
  gap: 100px;
}

.circle {
  display: flex;
  gap: 10px;
  margin-bottom: 80px;
}

.circle-text {
  align-items: center;
}

.circle-text p {
  color: #9e9e9e;
}


.about-peoplee {
  border: 2px solid rgb(205, 201, 201);
  border-radius: 15px;
  display: flex;
  padding: 30px;
  flex-direction: column;
  gap: 24px;
  font-size: 15px;
  width: 596px;
  height: 300px;
  padding-top: 60px;
  margin-bottom: 60px;
}

.about-peoplee p {
  line-height: 30px;
}

#people .image {
  display: flex;
  justify-content: center;
  gap: 25px;
  border-radius: 5px;
  border: 1px solid #fff;
  background: linear-gradient(
      0deg,
      rgba(33, 33, 33, 0.4) 0%,
      rgba(33, 33, 33, 0.4) 100%
    ),
    url(<path-to-image>), lightgray 50% / cover no-repeat, #fff;
}

#text .container p {
  color: #949494;
  font-size: 20px;
  margin-bottom: 30px;
}

.btn-in {
  font-size: 24px;
  text-align: center;
  margin: 15px;
  color: #949494;
}

.btn-text {
  display: inline-flex;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  width: auto 172px;
  height: auto 48px;
  font-weight: 400;
  line-height: 200%;
  padding: 6px 18px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 2px solid #008f76;
  background: #008f76;
  box-shadow: 0px 12.52155px 10.01724px 0px rgba(0, 0, 0, 0.01),
    0px 100px 80px 0px rgba(0, 0, 0, 0.03);
}

.sbmt-text {
  display: inline-flex;
  padding: 6px 18px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: auto 172px;
  height: auto 48px;
  gap: 10px;
  color: #008f76;
  border-radius: 15px;
  border: 1px solid #008f76;
  box-shadow: 0px 12.52155px 10.01724px 0px rgba(0, 0, 0, 0.01),
    0px 100px 80px 0px rgba(0, 0, 0, 0.03);
  margin-bottom: 50px;
}

.logo {
  margin-bottom: 50px;
}

.column-right {
  display: flex;
  align-items: center;
}

/* Contact section start */

.main-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.row-1 {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 48px;
}

/* .socials img {
  padding-left: 40px;
  width: 32px;
  height: 32px;
} */

.main-row-2 {
  display: flex;
  justify-content: space-between;
  padding-left: 306px;
}

.row h1 {
  color: #212121;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 200%; /* 36px */
}

.row p {
  color: #949494;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 200%; /* 32px */
}

.row-3 {
  padding-left: 150px;
}
.row-4 {
  padding-left: 150px;
}

/* Contact section end */

/* Footer section start */

footer {
  display: flex;
  width: 1440px;
  height: 60px;
  text-align: center;
  padding: 12px 0px;
  justify-content: center;
  align-items: center;
  background: #008f76;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 200%;
  /* 36px */
}

#footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  margin-bottom: 158px;
}

/* Footer section end */
