* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    max-width: 320px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px, rgba(0, 0, 0, 0.6) 0px 2px 4px -1px;
    background-color: #d6e2f3;
    margin-left: 600px;
}

.card img {
    width: 100%;
}
.card-title {
    padding: 15px;
}


.card::before{
    content: "";
    display: inline-block;
}

.card::after{
    content: "";
    display: inline-block;
    /* padding: 10px; */
}

.circle-title{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #441616;
    position: relative;
    left: 450px;
    top: 40px;
}

